annotated-types==0.7.0
attrs==23.2.0
autocommand==2.2.2
build==1.2.0
cffi==1.17.1
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==42.0.5
defusedxml==0.7.1
filelock==3.13.1
idna==3.4
installer==0.7.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
lensfun==0.3.4
more-itertools==10.1.0
numpy==1.26.4
optimus-manager==1.5
orjson==3.10.3
packaging==24.0
pandas==2.2.1
patsy==0.5.6
platformdirs==4.2.0
pooch==1.8.2
psutil==5.9.8
pyaml==24.9.0
pycairo==1.27.0
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
PyGObject==3.44.1
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5_sip==12.13.0
python-dateutil==2.9.0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.2
scipy==1.13.0
setuptools==69.5.1
shtab==1.7.1
six==1.16.0
statsmodels==0.14.1
termcolor==2.5.0
tldr==3.3.0
typing_extensions==4.12.0
urllib3==2.2.1
wheel==0.43.0
